html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-color 1.5s ease, background-image 0.5s ease;
    color: #ffffff;
    transition: background-color 1.5s ease, color 1.5s ease; /*IDK if this actually works*/
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.EngineButtons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.EngineHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.EngineTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background-image 0.5s ease-in-out;
}

.knowledge-graph {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    border: 1px solid #ccc; 
    padding: 5px;
    margin-bottom: 10px;
    gap: 20px; 
}

.kg-text-wrapper {
    flex: 1;
}

.knowledge-graph-image-class {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.organic-results {
    padding: 5px;
    margin-bottom: 3px;
}

.people-also-ask {

}

.related-searches-header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.related-search-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.related-search-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
}

.search-active {
    background-image: none; 
    background-color: black;
    color: white; 
}

#timeButton {
    display: none;
}

.search-active #timeButton {
    display: inline-block;
}